body {
  font-family: 'Roboto', Helvetica, sans-serif;
  color: #111;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 26px;
  background-color: #f9b0c6;
  margin: 0px;
  padding-top: 100px;
  padding-bottom: 100px;
}

a {
  color: #fff;
  border-bottom: 1px solid #FF6192;
  box-shadow: inset 0 -5px 0px 0px #FF6192;
  text-decoration: none;
  transition: .2s;
}

a:hover {
  box-shadow: none;
  border-bottom-color: transparent;
}

p {
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 25px;
  margin: 0px;
}

ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

ul li:before {
  content: "— ";
}

.paragraph {
  margin-bottom: 25px;
  line-height: 1.7;
}


.format p {
  margin-bottom: 0px;
}

.description {
  margin-bottom: 25px;
}

.list p {
  padding-bottom: 0px;
}

.stage {
  margin-bottom: 40px;
}

.stage p:last-child {
  padding-bottom: 0;
}

label {
  display: inline-block;
}

.paragraph-form {
  margin-bottom: 60px;
}

.tinkoffPayRow {
  display: block;
  width: 290px;
  font-family: 'Roboto', Helvetica, sans-serif;
  font-size: 18px;
  line-height: 26px;
  padding: 10px 14px;
  outline: none;
  border: 2px solid transparent;
  transition: .2s;
  margin-bottom: 20px;
  margin-right: 20px;
}

.tinkoffPayRow:focus {
  border: 2px solid #ee5d89;
}

.tinkoffPayButton {
  width: 320px;
  font-family: Courier New, Courier, monospace;
  line-height: 40px;
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
  background: #ee5d89;
  border: 0;
  margin-top: 10px;
  cursor: pointer;
}

.tinkoffPayButton:hover {
  background: #e25882;
}

.tinkoffPayButton[disabled] {
  background: #b1b1b1;
}

.tinkoffPayButton:active {
  position: relative;
  transform: scale(.99);
}

@media screen and (max-width: 380px) {
  .paragraph-form {
    max-width: 330px;
  }
  label {
    width: 88%;
  }
  .tinkoffPayRow, .tinkoffPayButton {
    width: 100%;
    margin-right: 0px;
  }
  .tinkoffPayButton {
    width: 99%;
  }
}

.results-icon {
  display: inline-block;
  position: relative;
  top: 4px;
  margin-right: 10px;
  font-size: 28px;
}
